/** common styles**/

:root {
  --maincolor: #434455;
  --mainbg: #ffffff;
  --main-white: #f4f4fd;
  --main-blue: #2e2f42;
  --link-hov-foc: #404bbf;
  --logo1color: #4d5ae5;
  --lightgrey: #8e8f99;
  --socialnet-link-hover: #31d0aa;

  --hover-anim: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  letter-spacing: 0.02em;
  line-height: 1.29;
  font-weight: 400;
  color: var(--maincolor);
  background-color: var(--mainbg);
}

*,
**::before,
**::after {
  box-sizing: border-box;
}
img {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ol,
ul {
  list-style: none;
  padding: 0;
}
address {
  font-style: normal;
}

button {
  cursor: pointer;
}

.list {
  list-style: none;
  text-decoration: none;
  margin: 0;
}

.link {
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;

  color: var(--main-blue);
  transition: color var(--hover-anim), background-color var(--hover-anim);
}

.link:focus,
.link:hover {
  color: var(--link-hov-foc);
  background-color: var(--mainbg);
}

.container {
  min-width: 320px;
  max-width: 428px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;

  outline: 2px solid red;
  outline-offset: -3px;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1160px) {
  .container {
    max-width: 1160px;
  }
}
.section {
  padding-top: 77px;
  padding-bottom: 77px;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .section {
    padding-top: 96px;
    padding-bottom: 96px;
  }
}
@media screen and (min-width: 1160px) {
  .section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/** header**/
.header {
  border-bottom: 1px solid #e7e9fc;

  /* max-width: 1440px; */
  margin: 0 auto;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 1px 6px rgba(46, 47, 66, 0.08);
}
.header-cont {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding-top: 16px;
  padding-bottom: 16px;
}


.logo {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--logo1color);

  
}
.logo-span {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-blue);
}
.logo:hover.link {
  color: var(--logo1color);
}

@media screen and (min-width: 768px) {
  .logo {
    margin-right: 120px;
  }
}
@media screen and (min-width: 1158px) {
  .logo {
    margin-right: 76px;
  }
}
.nav {
  background-color: var(--mainbg);
  display: flex;
  align-items: center;
}

.nav-list {
  display: flex;
  align-items: center;

  gap: 40px;

color: var(--main-blue);
font-size: 16px;
font-weight: 500;
line-height: 1.5; /* 150% */
letter-spacing: 0.32px;
margin-right: 120px;

}

@media screen and (min-width: 1158px) {
  .nav-list {
   
  }
}
@media screen and (max-width: 768px) {
  .nav-list {
    display: none;
  }
}
.nav-list-link {
 
}

.adr-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  
}

@media screen and (min-width: 1158px) {
  .adr-list {
    
    flex-direction: row;
    
    gap: 40px;
    
  }
}
@media screen and (max-width: 768px) {
  .adr-list {
    display: none;
  }
}

.contact {
color: var(--maincolor);

font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 1.17; 
letter-spacing: 0.48px;
}

@media screen and (min-width: 1158px) {
  .contact {
  font-size: 16px;
  line-height: 1.5;
   
  }
}
.nav-list-link {
  display: flex;
  position: relative;
}

.active {
  color: var(--link-hov-foc);
}

.nav-list-item.active::after {
  content: '';
  display: block;
  position: absolute;
  bottom: -17px;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: var(--link-hov-foc);
  border-radius: 2px;
}
/* mobile menu */
.mob-menu-icon {
  stroke: var(--main-blue);
  fill: inherit;
  border-color: transparent;
}

@media (max-width: 767px) {
  .menu {
    display: none;
  }
}


/** hero**/

.hero {
  max-width: 1440px;
  margin: 77px auto 0 auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  background-color: var(--main-blue);
  padding-top: 188px;
  padding-bottom: 188px;
  background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url(../images/hero/hero.jpg);
}

@media (min-width: 768px) {
  .hero {
    margin-top: 0;
    


  }
}

.hero-title {
  font-weight: 700;
  font-size: 56px;

  line-height: 1.07;
  text-align: center;
  margin: 0 auto;

  max-width: 496px;

  color: var(--mainbg);
}
.hero-btn {
  display: block;
  margin: 0 auto;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;

  color: var(--mainbg);
  background: var(--logo1color);
  transition: background-color var(--hover-anim);
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--link-hov-foc);
}

/** sec one**/
.one {
}

.secone-list {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;

  --item: 1;
  --space: 0px;
}
@media screen and (min-width: 768px) {
  .secone-list {
    gap: 72px 24px;
    --item: 2;
    --space: 24px;
  }
}
@media screen and (min-width: 1160px) {
  .secone-list {
    gap: 24px;
    --item: 4;
    --space: 24px;
  }
}
.sec-one-item {
  color: var(--maincolor);
  width: calc((100% - var(--space) * (var(--item) - 1)) / var(--item));
}

.sec-one-item > h3 {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;

  color: var(--main-blue);
  margin-bottom: 8px;
}

@media screen and (min-width: 1160px) {
  .sec-one-item > h3 {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }
}

.secone-par {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.32px;

  color: var(--maincolor);
}
@media screen and (min-width: 1160px) {
  .secone-par {
    font-weight: 400;
  }
}

.sec-one-iconcont {
  width: 264px;
  height: 112px;
  border-radius: 4px;
  margin-bottom: 8px;
  background-color: var(--main-white);

  /**padding: 24px 100px;**/
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 1160px) {
  .sec-one-iconcont {
    display: none;
  }
}

/** sec two**/
@media screen and (max-width: 1160px) {
  .two {
    display: none;
  }
}

.sec-two-title {
  margin-bottom: 72px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;

  text-transform: capitalize;
  color: var(--main-blue);
}
.sectwo-list {
  display: flex;
  gap: 24px;
}

.sectwo-item {
  width: calc((100% - 48px) / 3);
}
/** sec three **/

.section.three {
  padding: 96px 0;

  background-color: var(--main-white);
}

.secthree-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
  text-align: center;

  margin-bottom: 72px;

  color: var(--main-blue);
}
.secthree-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 72px;
}

@media screen and (min-width: 768px) {
  .secthree-list {
    gap: 72px 24px;
  }
}

.sec-three-item {
  box-shadow: 0px 2px 1px 0px #2e2f4214, 0px 1px 1px 0px #2e2f4229, 0px 1px 6px 0px #2e2f4214;
  border-radius: 0px 0px 4px 4px;
  background-color: var(--mainbg);

  width: cover;
}

.sectreecont {
  padding: 32px 0px;
}

.secthree-name {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;

  color: var(--main-blue);
}

.secthree-par {
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  margin-bottom: 8px;
}

.secthreeiconlist {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.secthreeiconlistitem {
  width: 40px;
  height: 40px;
}

.secthreeiconbg {
  width: 100%;
  height: 100%;

  background-color: var(--logo1color);
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;

  gap: 24px;

  transition: background-color var(--hover-anim);
  cursor: pointer;
}
.secthreeiconbg:hover {
  background-color: var(--link-hov-foc);
}
.secthreeiconbg:focus {
  background-color: var(--link-hov-foc);
}
.secthreeicon {
  fill: #f4f4fd;
}
/** section four**/
.four {
}
.sec-four-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  text-align: center;
  color: var(--main-blue);
  margin-bottom: 72px;
}

.sec-four-list {
  display: flex;
  flex-wrap: wrap;
  gap: 72px 16px;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .sec-four-list {
    gap: 72px 24px;
  }
}

.client-link {
  display: flex;
  width: 190px;
  height: 88px;
  justify-content: center;
  align-items: center;

  padding: 16px 32px;
  border-radius: 4px;
  border: 1px solid var(--lightgrey);
  transition: border-color var(--hover-anim), color var(--hover-anim);
  color: var(--lightgrey);
}
@media screen and (min-width: 768px) {
  .client-link {
    width: 168px;
  }
}

.client-icon {
  fill: currentColor;
  transition: fill var(--hover-anim), color var(--hover-anim);
}

.client-link:hover,
.client-link:focus {
  border-color: var(--link-hov-foc);
  color: var(--link-hov-foc);
}
.client-link:hover .client-icon {
  fill: var(--link-hov-foc);
  color: var(--link-hov-foc);
}

/** footer **/

.footer {
  max-width: 1440px;
  margin: 0 auto;
  background-color: var(--main-blue);

  padding-top: 96px;
  padding-bottom: 96px;
  color: var(--main-white);
  
}
.footer .container {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
  justify-content: center;

  
}
@media  screen and (min-width: 768px) {
  .footer .container {
    gap: 72px 24px;
    padding-left: 108px;
    justify-content: flex-start;
  }
}

.foot-one {
  display: flex;
  flex-direction: column;

  align-items: center;
}
.footer-logo {
  display: block;
  margin-bottom: 16px;
  margin: 0 auto;
}

.footer .footer-logo {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--logo1color);
}
.footer-logo-span {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-white);
}
.footer-logo:hover,
.footer-logo:focus,
.footer-logo-span:hover,
.footer-logo-span:focus {
  background-color: var(--main-blue);
}

.footer-par {
  font-size: 16px;
  font-family: Roboto;
  font-style: normal;
  line-height: 1.5;
  width: 268px;
}

.foot-two {
  display: flex;
  flex-direction: column;

  align-items: center;
  /* margin-right: 80px; */
}

.footer-media {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.32px;
  color: var(--mainbg);
  margin-bottom: 16px;
}

.footer-social {
  display: flex;
  gap: 16px;
  margin: 0 auto;
}
.fsocial-item {
  width: 40px;
  height: 40px;
}
.fsocial-link {
  width: 100%;
  height: 100%;
  background-color: var(--logo1color);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

  transition: background-color var(--hover-anim);
  cursor: pointer;
}
.fsocial-link:hover,
.fsocial-link:focus {
  background-color: var(--socialnet-link-hover);
}

.fsocial-icon {
  fill: #f4f4fd;
}

.foot-three {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .foot-three {
    align-items: flex-start;
  }
} 
  

.subscribe {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: center;
  gap: 16px;
}
@media screen and (min-width: 768px) {
  .subscribe {
    flex-direction: row;
    gap: 24px;
  }
  
}
.foot-input-label-name {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.32px;
  color: var(--mainbg);
  margin-bottom: 16px;
}

.foot-input {
  padding: 8px 16px;
  width: 264px;
  height: 40px;
  background-color: transparent;
  outline: transparent;
  border-radius: 4px;
  border: 1px solid var(--mainbg);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  color: var(--white, #fff);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));

  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.48px;
}
.foot-input::placeholder {
  color: currentColor;
}
.foot-btn-icon {
  margin-left: 16px;
}
.foot-btn {
  margin: 0 auto;
  width: 165px;
  height: 40px;
  border: none;
  padding: 8px 20px 8px 24px;
  border-color: transparent;
  border-radius: 4px;
  background: var(--logo1color);
  color: var(--mainbg);

  /* font-size: 16px; */

  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;

  display: flex;
  gap: 16px;
  align-items: center;
  justify-content: center;
}

/** backdrop **/

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity var(--hover-anim), visibility var(--hover-anim),
    pointer-events var(--hover-anim);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translatex(-50%) translatey(-60%);
  scale: 1;
  width: 408px;
  min-height: 584px;
  flex-shrink: 0;
  margin: 80px auto;
  border-radius: 4px;
  background: #fcfcfc;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 3px 0px rgba(0, 0, 0, 0.12),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14);
  transition: transform var(--hover-anim);
  padding: 72px 24px 24px 24px;
}
.modal-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;

  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
  background-color: #e7e9fc;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: border var(--hover-anim), background-color var(--hover-anim);
}
.modal-close-btn:hover,
.modal-close-btn:focus {
  background-color: var(--link-hov-foc);
  border: none;
}
.modal-close-icon {
  stroke: rgba(46, 47, 66, 1);
  transition: fill var(--hover-anim);
}
.modal-close-btn:hover .modal-close-icon,
.modal-close-btn:focus .modal-close-icon {
  fill: var(--mainbg);
}
.modal-name {
  width: 100%;
  color: var(--main-blue);
  text-align: center;
  display: block;
  width: 100%;

  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.32px;
  margin-bottom: 16px;
}
.modal-label-name {
}
.form-div-one {
  margin-bottom: 8px;
}
.form-div-two {
  position: relative;
}
.modal-label {
  display: block;
  width: 100%;
  color: var(--lightgrey);
  font-size: 12px;
  line-height: 1.17; /* 116.667% */
  letter-spacing: 0.48px;

  margin-bottom: 4px;

  position: relative;
}
.input-icon {
  position: absolute;

  left: 16px;
  top: 50%;
  transform: translateY(-50%);

  fill: var(--main-blue);
  transition: fill var(--hover-anim);
}
.modal-input:focus + .input-icon {
  fill: var(--logo1color);
}

.modal-input {
  width: 360px;
  height: 40px;
  padding: 11px 16px 11px 38px;
  border-radius: 4px;
  background-color: transparent;
  transition: border-color var(--hover-anim);
  outline: transparent;
  border: 1px solid rgba(46, 47, 66, 0.4);
}
.modal-input:focus {
  border-color: var(--logo1color);
}
.form-div-four {
  margin-bottom: 16px;
}

.modal-textarea {
  color: rgba(46, 47, 66, 0.4);
  background-color: transparent;
  resize: none;
  width: 100%;
  height: 120px;
  padding: 8px 16px;
  /**margin-bottom: 16px;**/

  font-size: 12px;
  line-height: 1.17; /* 116.667% */
  letter-spacing: 0.48px;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  outline: transparent;
  transition: border-color var(--hover-anim);
}
.modal-textarea:focus {
  border-color: var(--logo1color);
}

.modal-textarea::placeholder {
  color: var(--main-blue);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.48px;
}
.form-div-five {
  margin-bottom: 24px;
}

.modal-privacy-checkbox {
  /* display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px; */
  color: var(--lightgrey);
  font-size: 12px;

  line-height: 1.17; /* 116.667% */
  letter-spacing: 0.48px;
}

.privacy-checkbox-icon {
  width: 16px;
  height: 16px;

  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  display: inline-flex;
  align-items: center;
  justify-content: center;

  fill: transparent;
}

.privacy-checkbox:checked + .modal-privacy-checkbox .privacy-checkbox-icon {
  border-color: #404bbf;
  background-color: #404bbf;
  border: none;
  fill: var(--main-white);
}
.checkbox-icon {
  stroke: var(--main-white);
}

.modal-privacy-link {
  color: var(--logo1color);

  font-size: 12px;

  line-height: 1.33;
  letter-spacing: 0.48px;
  text-decoration-line: underline;
}
.modal-btn {
  display: block;
  margin-left: 96px;
  border-color: transparent;
  max-width: 169px;
  min-width: 169px;
  height: 56px;
  padding: 16px 32px;
  border-radius: 4px;
  background: var(--logo1color);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);

  color: var(--mainbg);
  text-align: center;

  font-size: 16px;
  border: none;

  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.64px;
  transition: background-color var(--hover-anim);
}
.modal-btn:hover,
.modal-btn:focus {
  background-color: var(--link-hov-foc);
}

/* mobile menu */

.mob-memu-close-icon {
  stroke: var(--main-blue);
}

.menu-toggle {
  min-height: 24px;
  min-width: 24px;
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;

  transition: background-color var(--hover-anim);
}

@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}

.menu-toggle:hover,
.menu-toggle:focus {
  background-color: rgba(0, 0, 0, 0.1);
}
@media screen and (min-width: 768px) {
  .menu-container {
   display: none;
  }
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 428px;
  height: 796px;
  padding-top: 80px;
  padding-left: 40px;

  background-color: var(--mainbg);
  z-index: 999;

  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-container .menu-toggle {
  position: absolute;
  top: 24px;
  right: 24px;
}

.mobile-menu {
  margin: 0;
  color: var(--main-blue);
  margin-bottom: 244px;
}

.mobile-menu .link {
  display: block;
  padding-bottom: 40px;

  color: var(--main-blue);

  font-size: 36px;
  font-weight: 700;
  line-height: 1.11; 
  letter-spacing: 0.72px;
  text-transform: capitalize;

  transition: color var(--hover-anim);

 
}
.mobile-menu .link:hover,
.mobile-menu .link:focus {
color: var(--link-hov-foc);
}
.mob-menu-adr {
  margin-bottom: 40px;
}

.mob-menu-tel {
  display: block;
  margin-bottom: 40px;

color: var(--logo1color);


font-size: 36px;

font-weight: 700;
line-height: 1.11;
letter-spacing: 0.72px;
text-transform: capitalize;
}
.mob-menu-mail {
  color: var(--maincolor);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2; 
  letter-spacing: 0.4px;
}

.mm-social {
  display: flex;
  
  gap: 56px;
  
}

.mm-social-item {
  width: 40px;
  height: 40px;
}
.mm-social-iconbg {
  width: 100%;
  height: 100%;

  background-color: var(--logo1color);
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;

  

  transition: background-color var(--hover-anim);
  cursor: pointer;
}


.mm-social-iconbg:hover {
  background-color: var(--link-hov-foc);
}
.mm-social-iconbg:focus {
  background-color: var(--link-hov-foc);
}
.mm-social-icon  {
  fill: #f4f4fd;
}

/** portfolio **/

/** srolls **/
.scroll-section {
  padding-top: 96px;
  padding-bottom: 120px;
}
.portf-btn {
  display: flex;

  margin-bottom: 72px;
  gap: 24px;
  justify-content: center;
}

.scroll-btn {
  padding: 12px 24px;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.04em;
  color: var(--logo1color);
  background-color: var(--main-white);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.scroll-btn:hover,
.scroll-btn:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);

  background-color: var(--link-hov-foc);
  color: var(--mainbg);
}

.portf-list {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 24px;
  align-content: flex-start;

  row-gap: 48px;
}

.portf-item {
  font-size: 16px;
  line-height: 1.5;

  color: var(--maincolor);
}

.portf-item-link {
  display: block;
  transition: box-shadow var(--hover-anim);
}
.portf-item-link:hover,
.portf-item-link:focus {
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.portf-item-wrap {
  position: relative;
  overflow: hidden;
}
.overlay-portf {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  padding: 40px 32px;
  background-color: var(--logo1color);
  color: var(--main-white);
  width: 100%;
  height: 100%;

  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;
  transform: translateY(100%);
  transition: transform var(--hover-anim);
}
.portf-item-link:hover .overlay-portf,
.portf-item-link:focus .overlay-portf {
  transform: translateY(0);
}
.name-container {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.row-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;

  color: var(--main-blue);
  margin-bottom: 8px;
}
.row-paragf {
  font-size: 16px;
  line-height: 1.5;

  color: var(--maincolor);
}
