/** common styles**/

:root {
  --maincolor: #434455;
  --mainbg: #ffffff;
  --main-white: #f4f4fd;
  --main-blue: #2e2f42;
  --link-hov-foc: #404bbf;
  --logo1color: #4d5ae5;
  --lightgrey: #8e8f99;
  --socialnet-link-hover: #31d0aa;

  --hover-anim: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  letter-spacing: 0.02em;
  line-height: 1.29;
  font-weight: 400;
  color: var(--maincolor);
  background-color: var(--mainbg);
 
}

*,
**::before,
**::after {
  box-sizing: border-box;
}
img {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ol,
ul {
  list-style: none;
  padding: 0;
}
address {
  font-style: normal;
}

button {
  cursor: pointer;
}

.list {
  list-style: none;
  text-decoration: none;
  margin: 0;
}

.link {
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;

  color: var(--main-blue);
  transition: color var(--hover-anim), background-color var(--hover-anim);
}

.link:focus,
.link:hover {
  color: var(--link-hov-foc);
  background-color: var(--mainbg);
}

.container {
  width: 1158px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/** header**/
.header {
  border-bottom: 1px solid #e7e9fc;
  max-width: 1440px;
  margin: 0 auto;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 1px 6px rgba(46, 47, 66, 0.08);
}
.header-cont {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav {
  background-color: var(--mainbg);
  display: flex;
  align-items: center;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--logo1color);

  margin-right: 76px;
}
.logo-span {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-blue);
}
.logo:hover.link {
  color: var(--logo1color);
}
.nav-list {
  display: flex;
  align-items: center;

  gap: 40px;
}
.nav-list-link {
  padding-top: 24px;
  padding-bottom: 24px;
}

.adr-list {
  display: flex;
  align-items: center;
  gap: 40px;
  padding: 24px 0;
}

.contact {
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;

  color: var(--maincolor);
}

.nav-list-link {
  display: flex;
  position: relative;
}

.active {
  color: var(--link-hov-foc);
}

.nav-list-item.active::after {
  content: '';
  display: block;
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: var(--link-hov-foc);
  border-radius: 2px;
}

/** hero**/

.hero {
  max-width: 1440px;
  margin: 0 auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  background-color: var(--main-blue);
  padding-top: 188px;
  padding-bottom: 188px;
  background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url(../images/hero/hero.jpg);
}

.hero-title {
  font-weight: 700;
  font-size: 56px;

  line-height: 1.07;
  text-align: center;
  margin: 0 auto;

  max-width: 496px;

  color: var(--mainbg);
}
.hero-btn {
  display: block;
  margin: 0 auto;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;

  color: var(--mainbg);
  background: var(--logo1color);
  transition: background-color var(--hover-anim);
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--link-hov-foc);
}

/** sec one**/
.one {
  padding-top: 120px;
  padding-bottom: 120px;
  margin: 0 auto;
}

.secone-list {
  display: flex;
  gap: 24px;
}
.sec-one-item > h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: var(--main-blue);
  margin-bottom: 8px;
}

.sec-one-item {
  color: var(--maincolor);
  width: calc((100% - 72px) / 4);
}
.secone-par {
  font-size: 16px;
  font-family: Roboto;
  line-height: 1.5;
  color: var(--maincolor);
}

.sec-one-iconcont {
  width: 264px;
  height: 112px;
  border-radius: 4px;
  margin-bottom: 8px;
  background-color: var(--main-white);

  /**padding: 24px 100px;**/
  display: flex;
  justify-content: center;
  align-items: center;
}

/** sec two**/
.two {
  padding-bottom: 120px;
}
.sec-two-title {
  margin-bottom: 72px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;

  text-transform: capitalize;
  color: var(--main-blue);
}
.sectwo-list {
  display: flex;
  gap: 24px;
}

.sectwo-item {
  width: calc((100% - 48px) / 3);
}
/** sec three **/

.three {
  background-color: var(--main-white);
  padding-top: 120px;
  padding-bottom: 120px;
}

.secthree-title {
  margin-bottom: 72px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;

  text-transform: capitalize;
  color: var(--main-blue);
}
.secthree-list {
  display: flex;
  gap: 24px;
}
.sec-three-item {
  box-shadow: 0px 2px 1px 0px #2e2f4214, 0px 1px 1px 0px #2e2f4229, 0px 1px 6px 0px #2e2f4214;
  border-radius: 0px 0px 4px 4px;
  background-color: var(--mainbg);
}

.sectreecont {
  padding: 32px 0px;
}

.secthree-name {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;

  color: var(--main-blue);
}

.secthree-par {
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  margin-bottom: 8px;
}

.secthreeiconlist {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.secthreeiconlistitem {
  width: 40px;
  height: 40px;
}

.secthreeiconbg {
  width: 100%;
  height: 100%;

  background-color: var(--logo1color);
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;

  gap: 24px;

  transition: background-color var(--hover-anim);
  cursor: pointer;
}
.secthreeiconbg:hover {
  background-color: var(--link-hov-foc);
}
.secthreeiconbg:focus {
  background-color: var(--link-hov-foc);
}
.secthreeicon {
  fill: #f4f4fd;
}
/** section four**/
.sec-four {
  padding-bottom: 120px;
  padding-top: 120px;

  margin: 0 auto;
}
.sec-four-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  text-align: center;
  color: var(--main-blue);
  margin-bottom: 72px;
}

.sec-four-list {
  display: flex;
  justify-content: center;
  flex-shrink: 0;
  gap: 24px;
}

.client-link {
  display: flex;
  width: 168px;
  height: 88px;
  justify-content: center;
  align-items: center;

  padding: 16px 32px;
  border-radius: 4px;
  border: 1px solid var(--lightgrey);
  transition: border-color var(--hover-anim), color var(--hover-anim);
  color: var(--lightgrey);
}
.client-icon {
  fill: currentColor;
  transition: fill var(--hover-anim), color var(--hover-anim);
}

.client-link:hover,
.client-link:focus {
  border-color: var(--link-hov-foc);
  color: var(--link-hov-foc);
}
.client-link:hover .client-icon {
  fill: var(--link-hov-foc);
  color: var(--link-hov-foc);
}

/** footer **/

.footer {
  max-width: 1440px;

  background-color: var(--main-blue);

  padding-top: 100px;
  padding-bottom: 100px;
  color: var(--main-white);
  margin: 0 auto;
}
.footer .container {
  display: flex;

  justify-content: baseline;
}

.footer-logo {
  display: block;
  margin-bottom: 16px;
}

.footer .footer-logo {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--logo1color);
}
.footer-logo-span {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-white);
}
.footer-logo:hover,
.footer-logo:focus,
.footer-logo-span:hover,
.footer-logo-span:focus {
  background-color: var(--main-blue);
}

.footer-par {
  font-size: 16px;
  font-family: Roboto;
  font-style: normal;
  line-height: 1.5;
  width: 264px;
}
.foot-one {
  margin-right: 120px;
}
.foot-two {
  margin-right: 80px;
}

.footer-media {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.32px;
  color: var(--mainbg);
  margin-bottom: 16px;
}

.footer-social {
  display: flex;
  gap: 16px;
}
.fsocial-item {
  width: 40px;
  height: 40px;
}
.fsocial-link {
  width: 100%;
  height: 100%;
  background-color: var(--logo1color);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

  transition: background-color var(--hover-anim);
  cursor: pointer;
}
.fsocial-link:hover,
.fsocial-link:focus {
  background-color: var(--socialnet-link-hover);
}

.fsocial-icon {
  fill: #f4f4fd;
}

.foot-three {
}

.subscribe {
  display: flex;
  gap: 24px;
}
.foot-input-label-name {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.32px;
  color: var(--mainbg);
  margin-bottom: 16px;
}

.foot-input {
  padding: 8px 16px;
  width: 264px;
  height: 40px;
  background-color: transparent;
  outline: transparent;
  border-radius: 4px;
  border: 1px solid var(--mainbg);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  color: var(--white, #fff);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));

  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.48px;
}
.foot-input::placeholder {
  color: currentColor;
}
.foot-btn-icon {
  margin-left: 16px;
}
.foot-btn {
  min-width: 165px;
  height: 40px;
  border: none;
  padding: 8px 24px;
  border-color: transparent;
  border-radius: 4px;
  background: var(--logo1color);
  color: var(--mainbg);

  font-size: 16px;

  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;

  display: flex;
  gap: 16px;
  align-items: center;
  justify-content: center;
}

/** backdrop **/

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity var(--hover-anim), visibility var(--hover-anim),
    pointer-events var(--hover-anim);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translatex(-50%) translatey(-50%);
  width: 408px;
  min-height: 584px;
  flex-shrink: 0;
  margin: 80px auto;
  border-radius: 4px;
  background: #fcfcfc;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 3px 0px rgba(0, 0, 0, 0.12),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14);
  transition: transform var(--hover-anim);
  padding: 72px 24px 24px 24px;
}
.modal-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;

  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
  background-color: #e7e9fc;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: border var(--hover-anim), background-color var(--hover-anim);
}
.modal-close-btn:hover,
.modal-close-btn:focus {
  background-color: var(--link-hov-foc);
  border: none;
}
.modal-close-icon {
  stroke: rgba(46, 47, 66, 1);
  transition: fill var(--hover-anim);
}
.modal-close-btn:hover .modal-close-icon,
.modal-close-btn:focus .modal-close-icon {
  fill: var(--mainbg);
}
.modal-name {
  width: 100%;
  color: var(--main-blue);
  text-align: center;
  display: block;
  width: 100%;

  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.32px;
  margin-bottom: 16px;
}
.modal-label-name {
}
.form-div-one {
  margin-bottom: 8px;
}
.form-div-two {
  position: relative;
}
.modal-label {
  display: block;
  width: 100%;
  color: var(--lightgrey);
  font-size: 12px;
  line-height: 1.17; /* 116.667% */
  letter-spacing: 0.48px;

  margin-bottom: 4px;

  position: relative;
}
.input-icon {
  position: absolute;

  left: 16px;
  top: 50%;
  transform: translateY(-50%);

  fill: var(--main-blue);
  transition: fill var(--hover-anim);
}
.modal-input:focus + .input-icon {
  fill: var(--logo1color);
}

.modal-input {
  width: 360px;
  height: 40px;
  padding: 11px 16px 11px 38px;
  border-radius: 4px;
  background-color: transparent;
  transition: border-color var(--hover-anim);
  outline: transparent;
  border: 1px solid rgba(46, 47, 66, 0.4);
}
.modal-input:focus {
  border-color: var(--logo1color);
}
.form-div-four {
  margin-bottom: 16px;
}

.modal-textarea {
  color: rgba(46, 47, 66, 0.4);
  background-color: transparent;
  resize: none;
  width: 100%;
  height: 120px;
  padding: 8px 16px;
  /**margin-bottom: 16px;**/

  font-size: 12px;
  line-height: 1.17; /* 116.667% */
  letter-spacing: 0.48px;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  outline: transparent;
  transition: border-color var(--hover-anim);
}
.modal-textarea:focus {
  border-color: var(--logo1color);
}

.modal-textarea::placeholder {
  color: var(--main-blue);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.48px;
}
.form-div-five {
  margin-bottom: 24px;
}

.modal-privacy-checkbox {
  /* display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;*/
  
  color: var(--lightgrey);
  font-size: 12px;

  line-height: 1.17; /* 116.667% */
  letter-spacing: 0.48px;
}

.privacy-checkbox-icon {

  
  width: 16px;
  height: 16px;
  
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
  border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  display: inline-flex;
  align-items: center;
  justify-content: center;

  fill: transparent;

}

.privacy-checkbox:checked + .modal-privacy-checkbox .privacy-checkbox-icon {
  border-color: #404bbf;
  background-color: #404bbf;
  border: none;
  fill: var(--main-white);
}
.checkbox-icon {
  stroke: var(--main-white);
}

.modal-privacy-link {
  color: var(--logo1color);

  font-size: 12px;

  line-height: 1.33;
  letter-spacing: 0.48px;
  text-decoration-line: underline;
}
.modal-btn {
  display: block;
  margin-left: 96px;
  border-color: transparent;
  max-width: 169px;
  min-width: 169px;
  height: 56px;
  padding: 16px 32px;
  border-radius: 4px;
  background: var(--logo1color);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);

  color: var(--mainbg);
  text-align: center;

  font-size: 16px;
  border: none;

  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.64px;
  transition: background-color var(--hover-anim);
}
.modal-btn:hover,
.modal-btn:focus {
  background-color: var(--link-hov-foc);
}

/** portfolio **/

/** srolls **/
.scroll-section {
  padding-top: 96px;
  padding-bottom: 120px;
}
.portf-btn {
  display: flex;

  margin-bottom: 72px;
  gap: 24px;
  justify-content: center;
}

.scroll-btn {
  padding: 12px 24px;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.04em;
  color: var(--logo1color);
  background-color: var(--main-white);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.scroll-btn:hover,
.scroll-btn:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);

  background-color: var(--link-hov-foc);
  color: var(--mainbg);
}

.portf-list {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 24px;
  align-content: flex-start;

  row-gap: 48px;
}

.portf-item {
  font-size: 16px;
  line-height: 1.5;

  color: var(--maincolor);
}

.portf-item-link {
  display: block;
  transition: box-shadow var(--hover-anim);
}
.portf-item-link:hover,
.portf-item-link:focus {
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.portf-item-wrap {
  position: relative;
  overflow: hidden;
}
.overlay-portf {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  padding: 40px 32px;
  background-color: var(--logo1color);
  color: var(--main-white);
  width: 100%;
  height: 100%;

  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;
  transform: translateY(100%);
  transition: transform var(--hover-anim);
}
.portf-item-link:hover .overlay-portf,
.portf-item-link:focus .overlay-portf {
  transform: translateY(0);
}
.name-container {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.row-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;

  color: var(--main-blue);
  margin-bottom: 8px;
}
.row-paragf {
  font-size: 16px;
  line-height: 1.5;

  color: var(--maincolor);
}
